body {
    font-family:'caprasimo', Arial, sans-serif;
    padding: 0;
  }

footer {
  font-size: 12px;
  text-align: center;
  background-color: #41c6e4;
  margin: 10px auto;
  box-shadow: 3px 3px 1px white;
  max-width: 600px;
  display: block;
  border: solid #191919;
  padding: 5px;
  color: #fefffd;
}

.outerContainer {
  max-width: 1100px;
  margin: auto;
  padding: 5px;
  --s: 100px; /* control the size*/
  --c1: #ffffff;
  --c2: #DFC4FB;
  
  --_g: #0000 90deg,var(--c1) 0;
  background: 
    conic-gradient(from 90deg at 2px 2px,var(--_g)),
    var(--c2);
  background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5) ;

}

.container {
  max-width: 700px;
  padding: auto;
  margin: auto;
  background: #feccd2;
  box-shadow: 3px 3px 1px #191919;
  border: solid #191919;  
  padding: 0px;
}

.appContainerHeader {
  background-color: #ffa0d6;
  font-size: 17px;
  width: 100%;
  border-bottom: solid #191919;
  font-style: italic;
}