ul {
  list-style-type: none;
}

hr {
    border-top: 6px solid #fefffd;
    padding: 0;
    margin: 5px;
    opacity: 1;
}

.Weather {
    padding: 20px 50px 20px 50px;
    color: #191919;
    font-size: 25px;
}

.row {
  align-items: center;
  padding: 0;
}

.Weather h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
    font-family:'Bungee', Arial, sans-serif;
    color: #4cc5e4;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    max-width: 74%;
    outline: #191919;
    text-shadow: 2px 2px 0 #191919, 2px -2px 0 #191919, -2px 2px 0 #191919, -2px -2px 0 #191919, 2px 0px 0 #191919, 0px 2px 0 #191919, -2px 0px 0 #191919, 0px -2px 0 #191919;
}


.float-right {
  max-height: 70px;
  margin-left: -50px;
  margin-bottom: -20px;
}

form {
  margin-left: 30px;
  font-size: 17px;
}

.form-control {
  box-shadow: 3px 3px 1px #191919;
  border: solid #191919;
  display: inline-block;
  width: 80%;
  margin-right: 5px;
  background-color: #fefffd;
  border-radius: 0%;
}

.button {
  padding: 4px;
  background-color: #BAD7FF;
  border: solid #191919;
  color: #191919;
  box-shadow: 3px 3px 1px #191919;
  display: inline-block;
}

.weatherContainer {
  background-color: #BAD7FF;
  padding: auto;
  margin: auto;
  border: solid #191919;
  box-shadow: 3px 3px 1px #191919;
  max-width: 600px;
  margin-top: 20px;
}

.weatherContainerHeader {
  padding: 0px;
  margin: auto;
  font-style: italic;
  font-size: 17px;
  background-color: #FFA0D6;
  width: 100%;
  border-bottom: solid #191919;
}

.weatherContainerInfo {
  font-size: 20px;
  text-align: center;
  font-style: italic;
  display: block;
  padding: 0px;
  margin: auto;
}

.dateInfo {
  font-size: 25px;
  background-color: #fefffd;
  border: solid #191919;
  border-radius: 30px;
  width: 350px;
  font-style: normal;
}

.conditionInfo {
  font-size: 40px;
  text-align: center;
  max-width: 60%;
  margin-top: 10px;
  margin-bottom: -15px;
  font-family:'Seaweed Script', Arial, sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  color: #FEFFFD;
  text-shadow: 2px 2px 0 #191919, 2px -2px 0 #191919, -2px 2px 0 #191919, -2px -2px 0 #191919, 2px 0px 0 #191919, 0px 2px 0 #191919, -2px 0px 0 #191919, 0px -2px 0 #191919;
}

.starburst-2 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 110px;
  background-color: black;
  padding-left: 5px;
  padding-top: 5px;
  width: 110px;
  height: 110px;
  aspect-ratio: 1;
  clip-path: polygon(100% 50%,84.77% 59.32%,93.3% 75%,75.46% 75.46%,75% 93.3%,59.32% 84.77%,50% 100%,40.68% 84.77%,25% 93.3%,24.54% 75.46%,6.7% 75%,15.23% 59.32%,0% 50%,15.23% 40.68%,6.7% 25%,24.54% 24.54%,25% 6.7%,40.68% 15.23%,50% 0%,59.32% 15.23%,75% 6.7%,75.46% 24.54%,93.3% 25%,84.77% 40.68%);
  }

.starburst {  
  font-style: normal;
  background-color: #ffd318;
  font-style: normal;
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  clip-path: polygon(100% 50%,84.77% 59.32%,93.3% 75%,75.46% 75.46%,75% 93.3%,59.32% 84.77%,50% 100%,40.68% 84.77%,25% 93.3%,24.54% 75.46%,6.7% 75%,15.23% 59.32%,0% 50%,15.23% 40.68%,6.7% 25%,24.54% 24.54%,25% 6.7%,40.68% 15.23%,50% 0%,59.32% 15.23%,75% 6.7%,75.46% 24.54%,93.3% 25%,84.77% 40.68%);
}

.temperature {
  padding-top: 12px;
  margin-bottom: -13px;
  font-size: 35px;
  text-shadow: 1px 1px 0 #FFA0D6, 1px -1px 0 #FFA0D6, -1px 1px 0 #FFA0D6, -1px -1px 0 #FFA0D6, 1px 0px 0 #FFA0D6, 0px 1px 0 #FFA0D6, -1px 0px 0 #FFA0D6, 0px -1px 0 #FFA0D6;

}

.unit {
  margin-top: 0px;
  font-size: 18px;
  text-decoration: #191919;
  text-shadow: 1px 1px 0 #FEFFFD, 1px -1px 0 #FEFFFD, -1px 1px 0 #FEFFFD, -1px -1px 0 #FEFFFD, 1px 0px 0 #FEFFFD, 0px 1px 0 #FEFFFD, -1px 0px 0 #FEFFFD, 0px -1px 0 #FEFFFD;
}


.condition {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin-right: 60px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-style: italic;
  background: #AB8DE4;
  border: solid 3px #191919;
  text-shadow: 2px 2px 0 #FEFFFD, 2px -2px 0 #FEFFFD, -2px 2px 0 #FEFFFD, -2px -2px 0 #FEFFFD, 2px 0px 0 #FEFFFD, 0px 2px 0 #FEFFFD, -2px 0px 0 #FEFFFD, 0px -2px 0 #FEFFFD;
}


a:link {
  color: #FFA0D6;
    text-shadow: 1px 1px 0 #FEFFFD, 1px -1px 0 #FEFFFD, -1px 1px 0 #FEFFFD, -1px -1px 0 #FEFFFD, 1px 0px 0 #FEFFFD, 0px 1px 0 #FEFFFD, -1px 0px 0 #FEFFFD, 0px -1px 0 #FEFFFD;

}

a:visited {
  color: #FFA0D6;
  text-shadow: 1px 1px 0 #FEFFFD, 1px -1px 0 #FEFFFD, -1px 1px 0 #FEFFFD, -1px -1px 0 #FEFFFD, 1px 0px 0 #FEFFFD, 0px 1px 0 #FEFFFD, -1px 0px 0 #FEFFFD, 0px -1px 0 #FEFFFD;
}

.forecastContainer {
  background-color: #BAD7FF;
  padding: auto;
  margin: auto;
  border: solid #191919;
  box-shadow: 3px 3px 1px #191919;
  max-width: 450px;
}

.dots-1 {
  text-align: left;
  margin-left: 20px;
}

.dots-2 {
  text-align: left;
    margin-left: 20px;

}

.dot1 {
  height: 10px;
  width: 10px;
  background-color: #FE749A;
  border-radius: 50%;
  display: inline-block;
  border: solid 1px #191919;
  margin-right: 5px;
}

.dot2 {
  height: 10px;
  width: 10px;
  background-color: #FDD214;
  border-radius: 50%;
  display: inline-block;
  border: solid 1px #191919;
    margin-right: 5px;
}

.dot3-1 {
  height: 10px;
  width: 10px;
  background-color: #A7C589;
  border-radius: 50%;
  display: inline-block;
  border: solid 1px #191919;
  margin-right: 200px;
}

.dot3-2 {
  height: 10px;
  width: 10px;
  background-color: #A7C589;
  border-radius: 50%;
  display: inline-block;
  border: solid 1px #191919;
  margin-right: 160px;
}