.WeatherForecast {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.WeatherForecast-day{
    margin-bottom: 10px;
    font-size: 20px;
    color: #FEFFFD;
    text-shadow: 2px 2px 0 #191919, 2px -2px 0 #191919, -2px 2px 0 #191919, -2px -2px 0 #191919, 2px 0px 0 #191919, 0px 2px 0 #191919, -2px 0px 0 #191919, 0px -2px 0 #191919;
}

.WeatherForecast-temperatures {
    color: #FEFFFD;
    text-shadow: 2px 2px 0 #191919, 2px -2px 0 #191919, -2px 2px 0 #191919, -2px -2px 0 #191919, 2px 0px 0 #191919, 0px 2px 0 #191919, -2px 0px 0 #191919, 0px -2px 0 #191919;
}

.WeatherForecast-temperature-min {
    opacity: 0.6;
    margin-left: 5px;
}
