.WeatherForecast {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.WeatherForecast-day{
    font-size: 17px;
    background-color: #FFA0D6;
    border: solid 3px #191919; 
    color: #FEFFFD;
    box-shadow: 3px 3px 1px #191919;
    text-shadow: 2px 2px 0 #191919, 2px -2px 0 #191919, -2px 2px 0 #191919, -2px -2px 0 #191919, 2px 0px 0 #191919, 0px 2px 0 #191919, -2px 0px 0 #191919, 0px -2px 0 #191919;
}

.WeatherForecast-icon {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #BAD7FF;
    border-left: solid 3px #191919;
    border-right: solid 3px #191919; 
    border-bottom: solid 3px #191919;
    box-shadow: 3px 3px 1px #191919;
 
}

.WeatherForecast-temperatures {
    color: #ffd318;
    text-shadow: 2px 2px 0 #191919, 2px -2px 0 #191919, -2px 2px 0 #191919, -2px -2px 0 #191919, 2px 0px 0 #191919, 0px 2px 0 #191919, -2px 0px 0 #191919, 0px -2px 0 #191919;
}

.WeatherForecast-temperature-min {
    opacity: 0.8;
    margin-left: 10px;
    color: #FEFFFD;
}
