ul {
  list-style-type: none;
}

hr {
    border-top: 6px solid #fefffd;
    padding: 0;
    margin: 5px;
    opacity: 1;
}

.Weather {
    padding: 20px 50px 20px 50px;
    color: #191919;
    font-size: 25px;
}

.row {
  align-items: center;
  padding: 0;
}

.Weather h1 {
    font-family:'Bungee', Arial, sans-serif;
    color: #4cc5e4;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 10px;
    text-align: center;
    outline: #191919;
    text-shadow: 2px 2px 0 #191919, 2px -2px 0 #191919, -2px 2px 0 #191919, -2px -2px 0 #191919, 2px 0px 0 #191919, 0px 2px 0 #191919, -2px 0px 0 #191919, 0px -2px 0 #191919;
}


.float-right {
  margin-top: 5px;
  padding-top: 10px;
}

form {
  display: block;
}

.form-control {
  box-shadow: 3px 3px 1px #191919;
  border: solid #191919;
  border-radius: 0%;
  display: inline-block;
  width: 80%;
  margin-right: 5px;
  background-color: #fefffd;
  font-size: 11px;
}

.button {
  background-color: #BAD7FF;
  font-size: 16px;
  border: solid #191919;
  color: #191919;
  box-shadow: 3px 3px 1px #191919;
  display: inline-block;
}

.weatherContainer {
  background-color: #BAD7FF;
  padding: auto;
  margin: auto;
  border: solid #191919;
  box-shadow: 3px 3px 1px #191919;
  max-width: 450px;
}

.weatherContainerHeader {
  padding: 0px;
  margin: auto;
  text-align: center;
  font-style: italic;
  font-size: 17px;
  background-color: #FFA0D6;
  width: 100%;
  border-bottom: solid #191919;
}

.weatherContainerInfo {
  font-size: 20px;
  text-align: center;
  font-style: italic;
  display: block;
  padding: 20px;
  margin: auto;
  
}

.dateInfo {
  font-size: 20px;
  background-color: #fefffd;
  border: solid #191919;
  border-radius: 30px;
  width: 350px;
  font-style: normal;
}

.conditionInfo {
  font-size: 30px;
  margin-bottom: -15px;
  font-family:'Seaweed Script', Arial, sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  color: #FEFFFD;
  text-shadow: 2px 2px 0 #191919, 2px -2px 0 #191919, -2px 2px 0 #191919, -2px -2px 0 #191919, 2px 0px 0 #191919, 0px 2px 0 #191919, -2px 0px 0 #191919, 0px -2px 0 #191919;
}

.starburst2 {
  background-color: black;
  padding-left: 5px;
  padding-top: 5px;
  margin: auto;
  margin-right: 15px;
  width: 100px;
  height: 100px; /* adjust to control the size */
  aspect-ratio: 1;
  clip-path: polygon(100% 50%,84.77% 59.32%,93.3% 75%,75.46% 75.46%,75% 93.3%,59.32% 84.77%,50% 100%,40.68% 84.77%,25% 93.3%,24.54% 75.46%,6.7% 75%,15.23% 59.32%,0% 50%,15.23% 40.68%,6.7% 25%,24.54% 24.54%,25% 6.7%,40.68% 15.23%,50% 0%,59.32% 15.23%,75% 6.7%,75.46% 24.54%,93.3% 25%,84.77% 40.68%);
  }

.starburst {
  background-color: #ffd318;
  font-style: normal;
  padding-top: 12px;
  width: 90px;
  height: 90px; /* adjust to control the size */
  aspect-ratio: 1;
  clip-path: polygon(100% 50%,84.77% 59.32%,93.3% 75%,75.46% 75.46%,75% 93.3%,59.32% 84.77%,50% 100%,40.68% 84.77%,25% 93.3%,24.54% 75.46%,6.7% 75%,15.23% 59.32%,0% 50%,15.23% 40.68%,6.7% 25%,24.54% 24.54%,25% 6.7%,40.68% 15.23%,50% 0%,59.32% 15.23%,75% 6.7%,75.46% 24.54%,93.3% 25%,84.77% 40.68%);
}

.temperature {
  margin-bottom: -5px;
  font-size: 25px;
  text-shadow: 1px 1px 0 #FFA0D6, 1px -1px 0 #FFA0D6, -1px 1px 0 #FFA0D6, -1px -1px 0 #FFA0D6, 1px 0px 0 #FFA0D6, 0px 1px 0 #FFA0D6, -1px 0px 0 #FFA0D6, 0px -1px 0 #FFA0D6;

}

.unit {
  margin-top: 0px;
  font-size: 15px;
  text-decoration: #191919;
  text-shadow: 1px 1px 0 #FEFFFD, 1px -1px 0 #FEFFFD, -1px 1px 0 #FEFFFD, -1px -1px 0 #FEFFFD, 1px 0px 0 #FEFFFD, 0px 1px 0 #FEFFFD, -1px 0px 0 #FEFFFD, 0px -1px 0 #FEFFFD;

}

.condition {
  font-size: 15px;
  text-align: center;
  margin-right: 35px;
  margin-top: 17px;
  text-shadow: 2px 2px 0 #FEFFFD, 2px -2px 0 #FEFFFD, -2px 2px 0 #FEFFFD, -2px -2px 0 #FEFFFD, 2px 0px 0 #FEFFFD, 0px 2px 0 #FEFFFD, -2px 0px 0 #FEFFFD, 0px -2px 0 #FEFFFD;
}

a:link {
  color: #FFA0D6;
    text-shadow: 1px 1px 0 #FEFFFD, 1px -1px 0 #FEFFFD, -1px 1px 0 #FEFFFD, -1px -1px 0 #FEFFFD, 1px 0px 0 #FEFFFD, 0px 1px 0 #FEFFFD, -1px 0px 0 #FEFFFD, 0px -1px 0 #FEFFFD;

}

a:visited {
  color: #FFA0D6;
  text-shadow: 1px 1px 0 #FEFFFD, 1px -1px 0 #FEFFFD, -1px 1px 0 #FEFFFD, -1px -1px 0 #FEFFFD, 1px 0px 0 #FEFFFD, 0px 1px 0 #FEFFFD, -1px 0px 0 #FEFFFD, 0px -1px 0 #FEFFFD;
}

.forecastContainer {
  background-color: #BAD7FF;
  padding: auto;
  margin: auto;
  border: solid #191919;
  box-shadow: 3px 3px 1px #191919;
  max-width: 450px;
}

.dot1 {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.dot3 {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.dot1 {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.dot1 {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}